@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-y: scroll;
}

.profilePage {
  background-color: rgb(243,244,244);
  /* margin-top: 8vh; */
}

.parent > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  padding-top: 2.5vh;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.parent > div > h2 {
  font-size: 20px;
  padding-bottom: 0.5vh;
}

.parent > div > a {
  font-size: 12px;
  text-decoration: none;
  padding-bottom: 0.5vh;
  transition: all 0.5s;
  color: black;
}

.parent > div > a:hover {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bolder;
}

.parent > h1 {
  margin-top: 15vh;
  margin-left: 15.2vw;
  margin-bottom: 4vh;
}

.ProfileOrder {
  background-color: white;
  width: 100%;
  height: 33vh;
  padding-right: 10vw;
}

.ProfileOrder > h1 {
  margin-left: 15.2vw;
  padding-top: 9vh;
}

.ProfileOrder > h4 {
  margin-left: 15.4vw;
  padding-top: 2.5vh;
}

.OrderContainer {
  background-color: rgb(243,244,244);
  width: 100%;
  height: auto;
  align-items: center;
  padding: 2.5vmax;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderCard {
  background-color: white;
  width: 30vmax;
  height: 17vmax;
  margin-left: 16vw;
  border-radius: 5px;
  padding-top: 5vh;
  padding-left: 2.6vw;
}

.orderCard > h1 {
  margin-bottom: 1vh;
}

.orderCard > p {
  margin-bottom: 1vh;
}

.orderCard > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.orderCard > a:hover {
  text-decoration: underline;
}

.soCard {
  background-color: white;
  width: 30vmax;
  height: 17vmax;
  margin-right: 16vw;
  border-radius: 5px;
  padding-top: 5vh;
  padding-left: 2.6vw;
  padding-right: 2vw;
}

.soCard > h1 {
  margin-bottom: 1vh;
}

.soCard > p {
  margin-bottom: 1vh;
}

.soCard > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.soCard > a:hover {
  text-decoration: underline;
}

.accountSettings {
  width: 100%;
  height: 75vh;
  background-color: white;
}

.accountSettings > h1 {
  margin-left: 15.2vw;
  padding-top: 9vh;
}

.shippingInfo {
  display: flex;
  flex-direction: row;
}

.shippingInfo > div > h2 {
  margin-left: 15.2vw;
  padding-top: 5vh;
}

.shippingAddr {
  padding-top: 5.7vh;
  padding-left: 11.6vw;
}

.shippingAddr > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
  cursor: pointer;
}

.shippingAddr > a:hover {
  text-decoration: underline;
}

.contactInfo {
  padding-top: 5.8vh;
  padding-left: 6.5vw;
}

.contactInfo > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.contactInfo > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.privacyInfo {
  display: flex;
  flex-direction: row;
}

.privacyInfo > div > h2 {
  margin-left: 15.2vw;
  padding-top: 5vh;
}

.PIContainer {
  padding-top: 6vh;
  padding-left: 12.8vw;
}

.PIContainer > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.PIContainer > a:hover {
  text-decoration: underline;
}

.EcomIDInfo {
  display: flex;
  flex-direction: row;
}

.EcomIDInfo > div > h2 {
  margin-left: 15.2vw;
  padding-top: 5vh;
}

.EcomIDContainer {
  padding-top: 6vh;
  padding-left: 12.1vw;
}

.EcomIDContainer > p {
  font-weight: bold;
}

.EcomIDContainer > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.EcomIDContainer > a:hover {
  text-decoration: underline;
}

/* Dialog CSS */

body.active-modal {
    /* overflow-y: hidden; */
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    /* overflow: hidden; */
}

.overlay {
    background: rgba(49,49,49,0.8);
    /* overflow: hidden; */
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;  
    margin-top: 14vh;
    transform: translate(-50%, -50%);
    /* line-height: 1.4; */
    background: white;
    padding: 6vh 7vw;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    visibility: visible;
}

.modal-content > h1 {
  padding-bottom: 4vh;
}

.modal-content > input {
  border-radius: 10px;
  padding: 2vh 1vw;
  margin-bottom: 1vh;
  border: 1px solid rgb(181, 181, 181);
}

.modal-content > select {
  border-radius: 10px;
  padding: 2vh 1vw;
  margin-bottom: 1vh;
  border: 1px solid rgb(181, 181, 181);
}

.SaveBtn {
  border-radius: 10px;
  padding: 1.5vh 1vw;
  margin-top: 1vh;
  background-color: #0474e4;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.CancelBtn {
  border-radius: 10px;
  padding: 1.5vh 1vw;
  margin-top: 1vh;
  color: #0474e4;
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 2.2vh;
    left: 1.2vw;
    font-size: larger;
    color: rgb(74, 74, 74);
    border: none;
    background-color: rgb(255, 255, 255);
    /* border-radius: 400px; */
    padding-top: 0.4vh;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.close-modal:hover {
  color: black;
  cursor: pointer;
}

/* 2nd Modal */

.btn-modal2 {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal2, .overlay2 {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay2 {
  background: rgba(49,49,49,0.8);
}
.modal-content2 {
  position: absolute;
  top: 40%;
  left: 50%;  
  margin-top: 14vh;
  transform: translate(-50%, -50%);
  /* line-height: 1.4; */
  background: white;
  padding: 6vh 7vw;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.modal-content2 > h1 {
padding-bottom: 4vh;
}

.modal-content2 > input {
border-radius: 10px;
padding: 2vh 1vw;
margin-bottom: 1vh;
border: 1px solid rgb(181, 181, 181);
}

.modal-content>select {
  border-radius: 10px;
  padding: 2vh 1vw;
  margin-bottom: 1vh;
  border: 1px solid rgb(181, 181, 181);
}

.SaveBtn2 {
border-radius: 10px;
padding: 1.5vh 1vw;
margin-top: 1vh;
background-color: #0474e4;
color: white;
font-weight: bold;
border: none;
cursor: pointer;
}

.CancelBtn2 {
border-radius: 10px;
padding: 1.5vh 1vw;
margin-top: 1vh;
color: #0474e4;
font-weight: bold;
background-color: white;
border: none;
cursor: pointer;
}

.close-modal2 {
  position: absolute;
  top: 2.2vh;
  left: 1.2vw;
  font-size: larger;
  color: gray;
  border: none;
  background-color: white;
}

.close-modal2:hover {
color: black;
cursor: pointer;
}


/* 
.profileContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  max-width: 100%;
  background-color: rgb(236, 236, 236);
}

.profileContainer > div {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContainer > div:first-child > h1 {
  color: rgba(0, 0, 0, 0.555);
  font: 500 2.2vmax "Roboto";
  transform: translateX(-10vmax) translateY(-2vmax);
}

.profileContainer > div:first-child > img {
  width: 20vmax;
  border-radius: 100%;
  transition: all 0.5s;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: tomato;
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  width: 30%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
  background-color: rgb(204, 78, 56);
}

.profileContainer > div:last-child {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}

.profileContainer > div:last-child > div > h4 {
  color: black;
  font: 400 1.2vmax "Roboto";
}

.profileContainer > div:last-child > div > p {
  color: rgba(0, 0, 0, 0.418);
  font: 400 1vmax cursive;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: rgb(68, 68, 68);
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax "Roboto";
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax "Roboto";
    padding: 1vmax;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax "Roboto";
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax cursive;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax "Roboto";
    padding: 1vmax;
    margin: 2vmax 0;
  }
} */
