@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.profilePage {
  background-color: rgb(240, 240, 240);
  height: 100%;
  width: 100%;
}
.parent > div{
  position: relative;
  top: 73px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.parent > div > h2 {
  font-size: 20px;
  padding-bottom: 7px;
}

.parent > div > a {
  font-size: 12px;
  text-decoration: none;
  padding-bottom: 7px;
  transition: all 0.5s;
  color: black;
}

.parent > div > a:hover {
  font-size: 12px;
  text-decoration: underline;
}

.parent > h1 {
  margin-top: 120px;
  margin-left: 232px;
  margin-bottom: 25px;
}

.ProfileOrder {
  background-color: white;
  width: 100%;
  height: 260px;
}

.ProfileOrder > h1 {
  margin-left: 232px;
  padding-top: 65px;
}

.ProfileOrder > h4 {
  margin-left: 234px;
  padding-top: 25px;
}

.OrderContainer {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 330px;
  align-items: center;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderCard {
  background-color: white;
  width: 30vmax;
  height: 17vmax;
  margin-left: 245px;
  border-radius: 5px;
  padding-top: 38px;
  padding-left: 40px;
}

.orderCard > h1 {
  margin-bottom: 10px;
}

.orderCard > p {
  margin-bottom: 10px;
}

.orderCard > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.orderCard > a:hover {
  text-decoration: underline;
}

.soCard {
  background-color: white;
  width: 30vmax;
  height: 17vmax;
  margin-right: 245px;
  border-radius: 5px;
  padding-top: 38px;
  padding-left: 35px;
  padding-right: 28px;
}

.soCard > h1 {
  margin-bottom: 10px;
}

.soCard > p {
  margin-bottom: 10px;
}

.soCard > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.soCard > a:hover {
  text-decoration: underline;
}

.accountSettings {
  width: 100%;
  height: 600px;
  background-color: white;

}

.accountSettings > h1 {
  margin-left: 232px;
  padding-top: 70px;
}

.shippingInfo {
  display: flex;
  flex-direction: row;
}

.shippingInfo > div > h2 {
  margin-left: 232px;
  padding-top: 40px;
}

.shippingAddr {
  padding-top: 45px;
  padding-left: 190px;
}

.shippingAddr > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.shippingAddr > a:hover {
  text-decoration: underline;
}

.contactInfo {
  padding-top: 45px;
  padding-left: 100px;
}

.contactInfo > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.contactInfo > a:hover {
  text-decoration: underline;
}

.privacyInfo {
  display: flex;
  flex-direction: row;
}

.privacyInfo > div > h2 {
  margin-left: 232px;
  padding-top: 40px;
}

.PIContainer {
  padding-top: 45px;
  padding-left: 207px;
}

.PIContainer > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.PIContainer > a:hover {
  text-decoration: underline;
}

.EcomIDInfo {
  display: flex;
  flex-direction: row;
}

.EcomIDInfo > div > h2 {
  margin-left: 232px;
  padding-top: 40px;
}

.EcomIDContainer {
  padding-top: 45px;
  padding-left: 195px;
}

.EcomIDContainer > p {
  font-weight: bold;
}

.EcomIDContainer > a {
  text-decoration: none;
  color: rgb(4, 4, 245);
}

.EcomIDContainer > a:hover {
  text-decoration: underline;
}


/* 
.profileContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  max-width: 100%;
  background-color: rgb(236, 236, 236);
}

.profileContainer > div {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContainer > div:first-child > h1 {
  color: rgba(0, 0, 0, 0.555);
  font: 500 2.2vmax "Roboto";
  transform: translateX(-10vmax) translateY(-2vmax);
}

.profileContainer > div:first-child > img {
  width: 20vmax;
  border-radius: 100%;
  transition: all 0.5s;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: tomato;
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  width: 30%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
  background-color: rgb(204, 78, 56);
}

.profileContainer > div:last-child {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}

.profileContainer > div:last-child > div > h4 {
  color: black;
  font: 400 1.2vmax "Roboto";
}

.profileContainer > div:last-child > div > p {
  color: rgba(0, 0, 0, 0.418);
  font: 400 1vmax cursive;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: rgb(68, 68, 68);
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax "Roboto";
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax "Roboto";
    padding: 1vmax;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax "Roboto";
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax cursive;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax "Roboto";
    padding: 1vmax;
    margin: 2vmax 0;
  }
} */
