* {
  font-family: Poppins;
}

body {
  margin-top: 9vh;
}

.greyContainerCart {
  background: rgb(241, 241, 241);
  display: flex;
  min-height: 91vh;
}

.cartSection {
  flex: 65%;
  background: white;
  margin: 1.5vmax 1vmax;
  height: fit-content;
  border-radius: 10px;
}

.cartSection > h3 {
  margin: 1.5vmax 3vmax;
  font-size: 2.5vmax;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
}

.cartHeader > p {
  margin: 0 35px;
  font-size: 1.2vmax;
  color: grey;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  width: 100%;
  margin: 0.5vmax 0;
  border-top: 1px solid black;
}

.item-image {
  margin-top: 1vmax;
  padding: 0.5vmax;
  width: 17vmax;
  height: 17vmax;
  object-fit: scale-down;
}

.item-details {
  width: 50%;
  margin: 3vmax 2vmax;
}

.item-name {
  color: black;
}

.item-price {

  font-size: 1.3vmax;
  margin: 3vmax 15px 0 auto;
}

.stockLeft {
  color: red;
  margin-top: 0.5vmax;
}

.itemQuantity {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  align-items: center;
  margin: 1vmax 0;
}

.itemQuantity > button {
  border: 1px solid;
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: 1.2vmax;
  width: 2vmax;
  height: 2vmax;
}

.itemQuantity > button:hover {
  border: 2px solid;
}

.itemQuantity > input {
  /* border: none; */
  margin: 0 5px;
  padding: 0.5vmax;
  width: 2vmax;
  height: 1.8vmax;
  text-align: center;
  font: 400 Poppins;
}

.remove {
  background: red;
  color: white;
  border: none;
  font-size: 1.1vmax;
  margin: 0.5vmax 0;
  border-radius: 5px;
  padding: 4px 6px;
}

.remove:hover {
  background: rgb(216, 0, 0);
  cursor: pointer;
}




.priceSection {
  flex: 25%;
  margin: 1.5vmax 1vmax;
  background: white;
  height: fit-content;
  border-radius: 10px;
}

.priceSection > h3 {
  color: grey;
  margin: 1vmax 1vmax;
  border-bottom: 1px solid grey;
  font-size: 2vmax;
}

.subtotal {
  margin: 2vmax 1.2vmax;
  display: flex;
  justify-content: space-between;
  font-size: 1.5vmax;
}

.shippingCharges {
  margin: 2vmax 1.2vmax;
  display: flex;
  justify-content: space-between;
  font-size: 1.5vmax;
}

.free {
  color: green;
}

.total {
  margin: 2vmax 1.2vmax;
  display: flex;
  justify-content: space-between;
  font-size: 1.7vmax;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
  padding: 15px 0;
}

.checkout {
  margin: 2vmax 1.2vmax;
  display: flex;
  justify-content: center;
}

.checkout > button {
  font-size: 1.7vmax;
  width: 100%;
  background: rgb(4, 116, 228);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.4vmax 0vmax;
}

.checkout > button:hover {
  background: rgb(39, 129, 219);
  cursor: pointer;
}

.emptyCart {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyCart > svg {
  font-size: 5vmax;
}
.emptyCart > p {
  font: 2vmax Poppins;
  margin: 0.5vmax 0;
}
.emptyCart > a {
  margin: 1vmax 0;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
  padding: 0.8vmax 2.8vmax;
  cursor: pointer;
  font: 1.3vmax Poppins;
  text-decoration: none;
}

.emptyCart > a:hover {
  background-color: rgb(54, 54, 54);
}

/* .cartPage {
  padding: 5vmax;
}

.cartHeader {
  background-color: tomato;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 300 0.7vmax "Roboto";
}
.cartHeader > p {
  margin: 10px;
}
.cartHeader > p:last-child {
  text-align: end;
}

.cartContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.cartInput {
  display: flex;
  align-items: center;
  height: 8vmax;
}

.cartInput > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.cartInput > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.cartInput > input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Roboto";
  color: rgba(0, 0, 0, 0.74);
}

.cartSubtotal {
  display: flex;
  padding: 0.5vmax;
  height: 8vmax;
  align-items: center;
  box-sizing: border-box;
  font: 300 1vmax cursive;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.753);
}

.cartGrossProfit {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}

.cartGrossProfitBox {
  border-top: 3px solid tomato;
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  padding: 2vmax 0;
  font: 300 1vmax "Roboto";
  display: flex;
  justify-content: space-between;
}

.checkOutBtn {
  display: flex;
  justify-content: flex-end;
}
.checkOutBtn > button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 0.8vmax 4vmax;
  width: 50%;
  font: 300 0.8vmax "Roboto";
  margin: 1vmax 4vmax;
  cursor: pointer;
  border-radius: 30px;
}

@media screen and (max-width: 600px) {
  .cartPage {
    padding: 0;
    min-height: 60vh;
  }

  .cartHeader {
    width: 100%;
    font: 300 1.7vmax "Roboto";
    grid-template-columns: 3fr 1fr 1fr;
  }

  .cartContainer {
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }

  .cartInput {
    height: 20vmax;
  }

  .cartInput > button {
    padding: 1.5vmax;
  }

  .cartInput > input {
    width: 2vmax;
    padding: 1.5vmax;
    font: 400 1.8vmax "Roboto";
  }

  .cartSubtotal {
    padding: 1.5vmax;
    height: 20vmax;
    font: 300 2vmax "Roboto";
  }

  .cartGrossProfit {
    display: grid;
    grid-template-columns: 0fr 2fr;
  }

  .cartGrossProfitBox {
    padding: 2vmax;
    font: 300 2vmax "Roboto";
  }

  .checkOutBtn > button {
    padding: 2vmax 4vmax;
    width: 100%;
    font: 300 2vmax "Roboto";
  }
} */
