.confirmOrderPage {
  height: 100%;
  background-color: rgb(241, 241, 241);
  display: flex;
}

.left {
  flex: 65%;
}

.confirmshippingArea {
  background: white;
  padding: 2vmax 2vmax 1vmax;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
}

.confirmshippingArea > h2 {
  font: 2vmax Poppins;
  padding-bottom: 0.5vmax;
}

.confirmshippingAreaBox,
.confirmCartItemsContainer {
  margin: 0vmax 3vmax;
  display: flex;
  flex-direction: column;
}

.confirmshippingAreaBox > div {
  display: flex;
  margin: 0.8vmax 0;
  align-items: flex-end;
}

.confirmshippingAreaBox > div > p {
  font: 1.3vmax Poppins;
}
.confirmshippingAreaBox > div > span {
  margin: 0 1vmax;
  font: 1.2vmax Poppins;
  color: #575757;
}

.edit {
  align-self: flex-end;
  border-top: none;
}

.edit > button {
  font: 1.2vmax Poppins;
  padding: 0.3vmax 1.4vmax;
  background: rgb(4, 116, 228);
  color: white;
  border-radius: 7px;
  border: none;
}

.edit>button:hover {
  background: rgb(39, 129, 219);
  cursor: pointer;
}

.edit2 {
  align-self: flex-end;
  border-top: none;
  margin: 0vmax 3vmax 2vmax;
}

.edit2>button {
  font: 1.2vmax Poppins;
  padding: 0.3vmax 1.4vmax;
  background: rgb(4, 116, 228);
  color: white;
  border-radius: 7px;
  border: none;
}

.edit2>button:hover {
  background: rgb(39, 129, 219);
  cursor: pointer;
}

.confirmCartItems {
  background: white;
  margin: 1.2vmax auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.confirmCartItems > h2 {
  font: 2vmax Poppins;
  padding: 2vmax;
  padding-bottom: 2vmax;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartHeader>p {
  margin: 0 4vmax;
  font-size: 1.2vmax;
  color: grey;
}

/* .confirmCartItemsContainer {
  max-height: 20vmax;
  overflow-y: auto;
} */

.confirmCartItemsContainer > div {
  display: flex;
  justify-content: flex-start;
  font: 1.1vmax Poppins;
  align-items: center;
  margin: 1.5vmax 0;
  border-top: 1px solid black;
  padding: 1vmax 0;
}

.confirmCartItemsContainer > div > img {
  width: 10vmax;
}

.confirmCartItemsContainer > div > a {
  margin: 1.5vmax 2vmax;
  width: 50%;
  text-decoration: none;
  align-self: flex-start;
  color: black;
}

.confirmCartItemsContainer > div > span {
  font: 1.1vmax Poppins;
  color: black;
  margin-left: auto;
  margin-top: 1.5vmax;
  align-self: flex-start;
}

.right {
  flex: 25%;
}

.orderSummary {
  background: white;
  width: 95%;
  height: fit-content;
  border-radius: 10px;
}

.orderSummary > h3 {
  color: grey;
  padding: 1.5vmax 1vmax;
  border-bottom: 1px solid grey;
  font-size: 2vmax;
}

.orderSummary > div > div {
  display: flex;
  font: 1.45vmax Poppins;
  justify-content: space-between;
  margin: 2vmax 1.2vmax;
}
.orderSummary > div > div > span {
  color: rgba(0, 0, 0, 0.692);
}

.free {
  color: green;
}

.orderSummaryTotal {

  margin: 2vmax 1.2vmax;
    display: flex;
    justify-content: space-between;
    font-size: 1.7vmax;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    padding: 15px 0;
}

.orderSummary > button {
  font-size: 1.7vmax;
    width: 100%;
    background: rgb(4, 116, 228);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.4vmax 0vmax;
    margin: 1vmax 1.2vmax;
    width: 90%;
}

.orderSummary > button:hover {
  background: rgb(39, 129, 219);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
  .confirmOrderPage {
    grid-template-columns: 1fr;
    height: unset;
  }

  .confirmOrderPage > div:last-child {
    border-left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
  }

  .confirmshippingArea > p {
    font: 400 6vw "Roboto";
  }

  .confirmshippingAreaBox > div {
    display: flex;
    margin: 6vw 0;
  }

  .confirmshippingAreaBox > div > p {
    font: 400 4vw "Roboto";
  }
  .confirmshippingAreaBox > div > span {
    font: 100 4vw "Roboto";
  }

  .confirmCartItems > p {
    font: 400 6vw "Roboto";
  }

  .confirmCartItemsContainer {
    max-height: 50vw;
  }

  .confirmCartItemsContainer > div {
    font: 400 4vw "Roboto";
    margin: 4vw 0;
  }

  .confirmCartItemsContainer > div > img {
    width: 10vw;
  }

  .confirmCartItemsContainer > div > a {
    margin: 0;
    width: 30%;
  }

  .confirmCartItemsContainer > div > span {
    font: 100 4vw "Roboto";
  }

  .orderSummary {
    padding: 12vw;
  }

  .orderSummary > p {
    font: 400 6vw "Roboto";
    padding: 4vw;
  }

  .orderSummary > div > div {
    font: 300 4vw "Roboto";
  }

  .orderSummaryTotal {
    font: 300 4vw "Roboto";
    padding: 5vw 0;
  }

  .orderSummary > button {
    padding: 4vw;
    margin: 4vw auto;
    font: 400 4vw "Roboto";
  }
}
