.orderSuccess {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderSuccess > svg {
  font-size: 7vmax;
  color: rgb(0, 196, 0);
}
.orderSuccess > p {
  font: 2vmax Poppins;
}

.buttons {
  margin: 3vmax 0;
}

.buttons > a {
  background-color: black;
  color: white;
  border: none;
  padding: 0.8vmax 3vmax;
  cursor: pointer;
  font: 1.5vmax Poppins;
  text-decoration: none;
  margin: 2vmax;
  border-radius: 7px;
}

.buttons > a:hover {
  background: rgb(41, 41, 41);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .orderSuccess > a {
    padding: 3vw 6vw;
    font: 400 4vw "Roboto";
    margin: 2vmax;
  }

  .orderSuccess > svg {
    font-size: 20vw;
  }
  .orderSuccess > p {
    margin: 2vmax;
    font-size: 5vw;
  }
}
