@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.shippingContainer {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(241, 241, 241);
}

.shippingBox {
  background-color: white;
  width: 35vw;
  height: fit-content;
  box-sizing: border-box;
  overflow: hidden;
  margin: 2vmax auto 4vmax;
  box-shadow: 4px 8px 12px rgba(15, 15, 15, 0.26);
}

.shippingHeading {
  text-align: center;
  font: 1.5vmax Poppins;
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 60%;
  margin: auto;
}

.shippingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 80%;
  transition: all 0.5s;
}

.shippingForm > div {
  display: flex;
  width: 80%;
  align-items: center;
}

.shippingForm > div > input,
.shippingForm > div > select {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(218, 218, 218);
  font: 1.1vmax Poppins;
  margin: 0.5vmax auto;
  outline: none;
}

.shippingForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.shippingBtn {
  border: none;
  background: rgb(4, 116, 228);
  color: white;
  font: 1.3vmax Poppins;
  width: 75%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  margin: 2vmax auto 1vmax;
  border-radius: 11px;
}

.shippingBtn:hover {
  background-color: rgb(39, 129, 219);
}

@media screen and (max-width: 600px) {
  .shippingBox {
    width: 100vw;
    height: 95vh;
  }

  .shippingHeading {
    font: 400 6vw "Roboto";
    padding: 5vw;
  }

  .shippingForm {
    padding: 11vw;
  }

  .shippingForm > div > input,
  .shippingForm > div > select {
    padding: 5vw 10vw;
    font: 300 4vw cursive;
  }

  .shippingForm > div > svg {
    font-size: 6vw;
    transform: translateX(3vw);
  }

  .shippingBtn {
    font: 300 4vw "Roboto";
    padding: 4vw;
  }
}
