@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
  background-color: #f4f4f4;
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

/* .greyContainer {
  background: rgb(241, 241, 241);
  width: 96%;
  border-radius: 30px;
  margin: 1vmax auto;
  padding: 0.5vmax 0.5vmax;
  display: flex;
  flex-direction: column;
} */

.categoriesContainer {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  /* padding: 5vh 0vw; */
  padding-bottom: 8vh;
  padding-top: 2vh;
  margin: 1vh 0.6vw;
}

/* .categoriesList {
  flex-wrap: wrap;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1.5vmax;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  margin: 3vmax 0;
  width: 100%;
  background-color: red;
} */

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: #fff;
  margin: 2vh 0.8vw;
  font-size: 4em;
  background-color: white;
  text-decoration: none;
  /* border: solid 1px rgb(228, 228, 228); */
  /* box-shadow: 10px 10px 1px black; */
  border-radius: 15px;
  transition: all 0.5s;
  box-shadow: 0 0 4px rgba(54, 54, 54, 0.226);
}

.category:hover {
  box-shadow: 0 0 10px rgba(40, 40, 40, 0.226);
  transform: scale(1.02);
  transition: all 0.5s;
}

/* .category:hover {
  box-shadow: 4px 8px 12px rgba(15, 15, 15, 0.26);

  transform: scale(1.05);
} */

.categoryIcon {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.categoryName {
  font-size: 1.4vmax;
  margin: 0.3vmax 0;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  opacity: 0.7;
}

.categoryName:hover {
  font-size: 1.4vmax;
  margin: 0.5vmax 0;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  text-decoration: underline;
  opacity: 1;
}

.homeHeading {
  text-align: center;
  font-family: Poppins;
  font-size: 3.5vmax;
  width: 30vmax;
  padding: 1vmax;
  margin: 1vmax 0 0;
}

.productsContainer {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productsBtn {
  display: block;
  font-size: 1.3vmax;
  margin: 2vmax auto;
  padding: 0.7vmax 1.5vmax;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-family: Poppins;
  border: none;
  transition: all 0.3s;
  box-shadow: 2px 4px 6px rgba(15, 15, 15, 0.26);
}

.productsBtn:hover {
  background-color: rgb(54, 54, 54);
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 4px 8px 12px rgba(15, 15, 15, 0.26);
}

.rec-arrow-left {
  margin-left: 1vw;
}

.rec-arrow-right {
  margin-right: 1vw;
  color: #888888;
  background: transparent;
}